<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
</head>
<body>
<form action="/cats/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="업로드">
</form>

<!-- 이미지를 표시할 영역 -->

    <img src="" alt="Uploaded Image">


<script>
    const form = document.querySelector('form');
    const imgElement = document.getElementById('uploadedImage');

    form.addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        try {
            const response = await fetch('/cats/upload', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const data = await response.json();
                console.log('[data]', data);

                if (data && data.images && data.images.length > 0) {
                    // 여러 이미지를 표시할 때 배열을 순회하며 각 이미지를 표시
                    for (let imageUrl of data.images) {
                        const img = document.createElement('img');
                        img.src = imageUrl;
                        img.alt = 'Uploaded Image';
                        document.body.appendChild(img); // 이미지를 현재 페이지에 추가
                    }
                } else {
                    console.error('이미지 업로드 실패');
                }
            } else {
                console.error('이미지 업로드 실패');
            }
        } catch (error) {
            console.error('오류 발생:', error);
        }
    });
</script>

</body>
</html>
